# Gradle
.gradle/
build/
*/build/
!gradle/wrapper/gradle-wrapper.jar

# Android Studio
.idea/
*.iml

# Local configuration
local.properties

# Logs
*.log

# OS-specific
.DS_Store
Thumbs.db

# Misc
*.apk
*.ap_
